
*{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#ffffff;   
}
.skills{
    width: 70%;
    max-width: 600px;
    min-height: 50vh;
    padding: 0 20px;
    background: #fff;
    box-shadow: 0 0px 10px rgba(198, 188, 188, 0.913);
    border-radius: 10px;
}
.skill-name{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0;
    color: #111;
}
.skill-bar{
    height: 14px;
    background: #111;
    border-radius: 3px;
}
.skill-per{
    height: 14px;
    background: #d13639;
    border-radius: 3px;
    position: relative;
    animation: fillBars 9.9s 1;
}
.skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 5px;
    background:#fff;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}
.skill-per::after{
    content: "";
    position: absolute;
    height: 10px;
    background: #fff;
    top:-20px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;

}
@keyframes fillBars{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}